<% let g_addr = common.ghomeSpeakers %>
<% let special = page?.specialParams ?? [] %>


<script type="text/javascript" src="/scripts/form_parts.js">
</script>
<script type="text/javascript" src="/scripts/controller_config_register.js">
</script>


<script type="text/javascript">
	const __debug = true;

	function selector_change(e){
		// from scripts/controller_config_register.js
		MusicShortCutRegister(this.num, e.currentTarget.value, __debug);
	}

	async function saveButtonClick(){
		let array = {};
		for(let i=1; i<=9; i++){
			let e = document.getElementById(`SELECT_${i}`).value.toString();
			array[i] = e;
		}
		let data_to_save = buildSaveData(array);
		await Save(data_to_save, __debug);
	}

	let loadedata = LoadAll(__debug);
	
</script>

<!--
<%
	const files = special.GetFunc().filter(f=>f.Type == "File");
%>
-->
<div class="container">
	<div class="row">
		<% for(let i=1; i<=9; i++){ %>
			<div class="col-md-4 col-12">
				<% let selector_id = `SELECT_${i}` %>
				<div><%- i %>番</div>
				<Select class="form-select" id="<%- selector_id %>">
					<option value="" selected>設定なし</option>
					<% for(let k=0; k<files.length; k++){ %>
						<option value="<%- files[k].Name %>"><%- files[k].Name %></option>
					<% } %>
				</Select>
			</div>

			<script type="text/javascript">
				var s = document.getElementById("<%- selector_id %>");
				s.addEventListener('change', {handleEvent:selector_change, num: <%- i %>});
				s.value = loadedata[<%- i %>] ? '設定なし';
			</script>
		<% } %>
		<button type="button" class="btn btn-primary col-6" onclick="saveButtonClick()">きろく</button>
		<button type="button" class="btn btn-primary col-6" onclick="saveButtonClick()">リセット</button>
	</div>
</div>

