<script src="/scripts/form_parts.js"></script>

<script>
function show_results(data){
	document.getElementById("resXmlHttpRequestObj").innerHTML=`<pre>${JSON.stringify(data,null," ")}</pre>`;
}
</script>

<% let special = page?.specialParams ?? [] %>
<% if(query?.TEST){ 
	common.ghomeSpeakers = [
		{speakerName : "りびんぐ", address : "192_168_1_150" },
		{speakerName : "あおいろ", address : "192_168_1_160" },
	];
} %>

<!--
<%- JSON.stringify(common.ghomeSpeakers, null, '\t') %>
-->


<div class="container">
    <div class="mb-3">
        <textarea id="text" name="text" class="form-control form-control-lg" rows="5" placeholder="しゃべらせたいないようをにゅうりょくしてね" aria-label=".form-control-lg example"><%- prevPostData.text %></textarea>
    </div>
    </div>
    <BR>

    こえのしゅるい
    <select name="example">
	<% const vt = special.voiceTypes %>
	<% const vlen = vt.length %>
	<% for(let i=0; i<vlen; i++){ %>
		<option value="<%- vt[i].languageCode %>"><%- vt[i].show_name %></option>
	<%} %>
	</div>
    </select>

    <div class="container bg-light border border-primary mt-2">

    <P>こえのはやさ
        <input id="speed_slider" type="range" name="speed" min="0.25" max="4.00" step="0.01" 
            value="1"><div id="speed_value">1</div>
    </P>
    <P>こえのたかさ
        <input id="pitch_slider" type="range" name="pitch" min="-20" max="20" step="0.01" 
            value="0"><div id="pitch_value">0</div>
    </P>

    <P>おとのおおきさ
        <input id="volume_slider" type="range" name="volume" min="0" max="100" step="5" 
            value="50"><div id="volume_value">50</div>
    </P>
    <P><input type="checkbox" name="reverse_play" value="true" <%- prevPostData?.reverse_play ? 'checked' : '' %>>はんたいことば</P>
    </div>
    <div class="container bg-light border border-primary mt-2">
        とくしゅこうか
        <div class="row">
            <div class="col">
                <input type="radio" name="rb_effects1" value="" <%- !prevPostData?.rb_effects1 ? 'checked' : '' %>>なし
            </div>
            <div class="col">
                <input type="radio" name="rb_effects1" value="robot" <%- prevPostData?.rb_effects1 == 'robot' ? 'checked' : '' %>>ロボット
            </div>
            <div class="col">
                <input type="radio" name="rb_effects1" value="hankyo" <%- prevPostData?.rb_effects1 == 'hankyo' ? 'checked' : '' %>>はんきょう
            </div>
            <div class="col">
                <input type="radio" name="rb_effects1" value="yamabiko" <%- prevPostData?.rb_effects1 == 'yamabiko' ? 'checked' : '' %>>やまびこ
            </div>
        </div>
    </div>

	<% let g_addr = common.ghomeSpeakers %>
		<% if(g_addr.length == 0){ %>
			<%- '<P>ねっとわーくのなかに、ぐーぐるさんがみつかりません</p>' %>
    <% } else g_addr.forEach(e=> {%>
       	<button class="btn btn-primary my-2 w-100" type="submit" id="<%- e.address %>" value="google|<%- e.speakerName %>" name="submit">ぐーぐるさん(<%- e.speakerName %>)がしゃべる</button>
		<script>
			document.getElementById("<%- e.address %>").onclick=()=>{
				post_command('/command', {
					alert_text : 'テキストスピーチ ⇒ <%- e.speakerName %>で再生...',
						mode : 'text_to_speech',
						data : {
						output : 'speaker',
						SpeakerAddress : '<%- e.address %>',
						Text: document.getElementById("text").value.toString(),
					},
					short_return : true
				}, show_results);
			};
		</script>
    <% }) %>


		<button class="btn btn-secondary my-2 w-100" type="submit" id="otosan" value="otosan" name="submit">おとうさんにおくる</button>

		<script>
			document.getElementById("otosan").onclick=()=>{
				post_command('/command',{
					alert_text : 'おとうさんにおんせいをおくります',
					mode : 'rec_voice',
					data : {
						output : 'send_mail',
					},
					short_return : true
				}, show_results);
			};
		</script>

	<script>
		function inputChange0(event){
			val0.innerText = speed_slider.value;
		}    
		function inputChange1(event){
			val1.innerText = pitch_slider.value;
		}    
		function inputChange2(event){
			val2.innerText = volume_slider.value;
		}    

		let element0 = document.getElementById('speed_slider');
		element0.addEventListener('change', inputChange0);
		let val0 = document.getElementById('speed_value');

		let element1 = document.getElementById('pitch_slider');
		element1.addEventListener('change', inputChange1);
		let val1 = document.getElementById('pitch_value');

		let element2 = document.getElementById('volume_slider');
		element2.addEventListener('change', inputChange2);
		let val2 = document.getElementById('volume_value');

	</script>

</div>

