<script src="/scripts/form_parts.js"></script>

<script>
function show_results(data){
	document.getElementById("resXmlHttpRequestObj").innerHTML=`<pre>${JSON.stringify(data,null," ")}</pre>`;
}
</script>

<% let special = page?.specialParams ?? [] %>
<% if(query?.TEST){ 
	common.ghomeSpeakers = [
		{speakerName : "りびんぐ", speakerAddress : "192_168_1_150" },
		{speakerName : "あおいろ", speakerAddress : "192_168_1_160" },
	];
} %>

<!--
<%- JSON.stringify(common.ghomeSpeakers, null, '\t') %>
-->
<div class="container">
	<div class="row mt-2">
		<label>ろくおんするじかんをえらんでね</label>
	<select class="form-select" id="RecTime" aria-label="ろくおんするじかんをえらんでね">
		<option value="2">2秒</option>
		<option value="5" selected>5秒</option>
		<option value="10">10秒</option>
		<option value="20">20秒</option>
		<option value="40">40秒</option>
		<option value="60">1分</option>
		<option value="120">2分</option>
	</select>
	
		
	<% let g_addr = common.ghomeSpeakers %>
		<% if(g_addr.length == 0){ %>
			<%- '<P>ねっとわーくのなかに、ぐーぐるさんがみつかりません</p>' %>
    <% } else g_addr.forEach(e=> {%>
       	<button class="btn btn-primary my-2" type="submit" id="<%- e.address %>" value="google|<%- e.speakerName %>" name="submit">ぐーぐるさん(<%- e.speakerName %>)がしゃべる</button>
		<script>
			document.getElementById("<%- e.address %>").onclick=()=>{
				let t = document.getElementById("RecTime").value;
				post_command('/command', {
					alert_text : 'ボイスチェンジャー',
					mode : 'rec_voice',
					data : {
						output : 'speaker',
						SpeakerAddress : '<%- e.address %>',
						length: t,
					},
					short_return : true
				}, show_results);
			};
		</script>
    <% }) %>
        <button class="btn btn-secondary my-2" type="submit" id="otosan" value="otosan" name="submit">おとうさんにおくる</button>

		<script>
			document.getElementById("otosan").onclick=()=>{
				let t = document.getElementById("RecTime").value;
				post_command('/command',{
					alert_text : 'おとうさんにろくおんしたおんせいをおくります',
					mode : 'rec_voice',
					data : {
						output : 'send_mail',
						length: t,
					},
					short_return : true
				}, show_results);
			};
		</script>

		<div class="row mt-2"><p id="resXmlHttpRequestObj"></p></div>
    </div>
</div>

